{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="white-text center-align">Private gallery!</h1>
{% for video in videos %}
  {% csrf_token %}
  <div class="center-align">
    <video width="320" height="240" class="responsive-video centered" controls>
      <source src="{{video.url}}"  type="video/webm">
    </video>
  </div>
    <div class="center-align">
      <a class='btn red' href="{% url 'videos_delete' video.id %}">Delete</a>
      <a class='btn green' href="{% url 'videos_update' video.id %}">
        {% if video.isPrivate == True %}
          Make Public
        {% else %}
          Make Private
        {% endif %}
      </a>
    </div>
    
  
{% endfor %}

{% endblock %}