{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Welcome to your private gallery!</h1>
{% for video in videos %}
  {% csrf_token %}
  <div>
    
    <video  class="responseive-video" controls>
      <source src="{{video.url}}"  type="video/webm">
    </video>
    <div>
      <a class='btn red' href="{% url 'videos_delete' video.id %}">Delete</a>
      <a class='btn green' href="{% url 'videos_update' video.id %}">
        {% if video.isPrivate == True %}
          Make Public
        {% else %}
          Make Private
        {% endif %}
      </a>
    </div>
  </div>
  
{% endfor %}

{% endblock %}