{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Hello!</h1>
<script >
// p5.disableFriendlyErrors = true;

// Setup more joint and posenet variables here
let frameRate = 30

// Setup CCapture here
// Create a capturer that exports a WebM video
var capturer = new CCapture({
  format: "webm", 
  framerate: frameRate,
  verbose: true,
});

let canvas;

// setup Webmwriter
var videoWriter = new WebMWriter({
    quality: 0.8,    // WebM image quality from 0.0 (worst) to 0.99999 (best), 1.00 (VP8L lossless) is not supported
    fileWriter: null, // FileWriter in order to stream to a file instead of buffering to memory (optional)
    fd: null,         // Node.js file handle to write to instead of buffering to memory (optional)

    // You must supply one of:
    frameDuration: null, // Duration of frames in milliseconds
    frameRate: 30,     // Number of frames per second

    transparent: false,      // True if an alpha channel should be included in the video
    alphaQuality: undefined, // Allows you to set the quality level of the alpha channel separately.
                             // If not specified this defaults to the same value as `quality`.
});

function setup() {
  let p5canvas = createCanvas(400, 400);
  canvas = p5canvas.canvas

  

  // start capture 
  // capturer.start()
}

function draw() {
  let secondsElapsed = frameCount/frameRate;
  if(mouseIsPressed){
    ellipse(mouseX,mouseY,20)
  }

  
  // capturer.capture(canvas)
  
  // if (secondsElapsed == 5) {
  //   console.log('5 seconds elapsed')
  //   capturer.stop()
  //   // capturer.save();

  //   // custom save, will get a blob in the callback
  //   capturer.save( function(blob) {
  //     download( blob, _encoder.filename + capturer.encoder.extension, capturer.encoder.mimeType );
	// 			// return false;
  //   } );
  // }
  videoWriter.addFrame(canvas)

  if (secondsElapsed == 5) {
    // get access to the django user object or any other object inside of javascript.
    // var user = "{{user}}"
    // console.log('user object', user)



    let videoC = videoWriter.complete();

    var cl = new cloudinary.Cloudinary({cloud_name: "dct4e2zsl", secure: true});
    console.log('cloudinary',cl)
    var cloudName = 'dct4e2zsl'
    var endp = `https://api.cloudinary.com/v1_1/${cloudName}/upload`
    var formData = new FormData();
    videoC.then(v => {
      formData.append("file", v)
      formData.append("upload_preset", "sickfits")
      fetch(
        endp, 
        {
        method: "POST",
        body: formData
      })
      .then((response) => {
        return response.json()
      })
      .then(
        (data) => {
          console.log('csrf',"{{csrf_token}}")
          var djangoFormData = new FormData();
          // djangoFormData.append('url', data.url);
          djangoFormData.url = data.url
          console.log(data.url)
          console.log(djangoFormData)
          fetch(
          'http://localhost:8000/videos/create/',
            {
            method: 'POST',
            mode: 'same-origin',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'X-CSRFToken': "{{csrf_token}}"
            },
            // body: JSON.stringify(djangoFormData),
            body: JSON.stringify({'url': data.url})
            // body: djangoFormData
          }
        )
        .then(response => 
        {

          window.location.replace('http://localhost:8000/private_index/')
        }
        )
        }
        
      )
    })
  }

}
</script>

{% endblock %}