{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row">
  <div class="col s12 center-align">
    <h1>Welcome to Move With Abandon</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quas dolore aliquam totam voluptatibus ratione, perspiciatis cumque eveniet alias doloribus reiciendis laudantium deleniti soluta, quos tenetur aliquid cum rem exercitationem!</p>
  </div>
  
  {% if not user.is_authenticated %}
    <div class="center-align">
      <a class="btn" href="{% url 'signup' %}">Sign Up</a>
      <a class="btn" href="{% url 'login' %}">Log In</a>
    </div>
  {% endif %}
  

</div>
<div class="row" id='links'>
  <div class="col s4">
    <a href="{% url 'drawing' %}">
      <div class="card small exp valign-wrapper">
        <span class="card-title ">
          Drawing
        </span>
      </div>
    </a>
  </div>
  <div class="col s4">
    <a href="{% url 'control' %}">
      <div class="card small exp valign-wrapper">
        <span class="card-title">
          Control
        </span>
      </div>
    </a>
  </div>
  <div class="col s4">
    <a href="{% url 'touch' %}">
      <div class="card small exp valign-wrapper">
        <span class="card-title">
          Touch
        </span>
    </div>
    </a>
    
  </div>
</div>

<h1>Public Gallery</h1>
{% for video in videos %}
  <video width="250" height="250" class="responseive-video" controls>
    <source src="{{video.url}}"  type="video/webm">
  </video>
{% endfor %}

{% endblock %}